/*Nav*/
.search-button {
  background: url(/data/search-outline.svg) no-repeat center;
  width: 20px;
  height: 20px;
  top: 0;
  bottom: 0;
  border: none;
  right: 15px;
}

.cart-counter {
  background-color: #f7954c;
  width: 14px;
  height: 14px;
  right: 13px;
  bottom: 40px;
  border: 1px solid white;
}

.ws {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 95px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.shadow-hover:hover {
  box-shadow: 0 2px 14px -6px rgba(0, 0, 0, 0.3);
}
#About-us p {
  line-height: 23px;
}
#Collapse-about-us p {
  line-height: 23px;
  font-size: 16px;
}
